main {
    text-align: center;
    width:80%;
    display: flex;
    flex-direction: row;
    margin:auto;
}

section {
    width:50%;
}

a {
    font-size: x-large;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
}