<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>    <!-- Load the socketIO installation to use in our JS -->
    </head>

    <body>
        <h1> Freighter Fighter </h1>
    </body>

    <div id="lobbies">
        <button class="lobbySelector"> Go to a lobby</button>
        <button class="lobbySelector"> Go to a lobby</button>
        <button class="lobbySelector"> Go to a lobby</button>
        <button class="lobbySelector"> Go to a lobby</button>
    </div>
    <script src="static/index.js"></script>
</html>