<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>    <!-- Load the socketIO installation to use in our JS -->
        <link rel="stylesheet" href="static/default.css">
        <link rel="stylesheet" href="static/index.css">
        <link rel="shortcut icon" href="static/assets/favicon.ico">
    </head>

    <meta id="lobbyNum" name="numLobbies" content={{numLobbies}}>
    <body>
        <header>
            <a class="navLink" href="rules">Instructions</a>
            <h1> Freighter Fighter </h1>
            <div class="nav-right">
                <a class="navLink" href="stats">Stats</a>
                {% if user %}
                    <div class="user-info">
                        <img src="{{ user.picture }}" alt="Profile" class="profile-pic" style="width: 32px; height: 32px; border-radius: 50%; margin-right: 8px;">
                        <span class="user-name">{{ user.name }}</span>
                        <a class="navLink logout-btn" href="/logout">Logout</a>
                    </div>
                {% else %}
                    <a class="navLink login-btn" href="/login">Login with Google</a>
                {% endif %}
            </div>
        </header>
    
        <div id="lobbies"></div>
    </body>
    <script src="static/index.js" defer></script>
</html>