<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>    <!-- Load the socketIO installation to use in our JS -->
        <script defer src="static/lobby.js"></script>

        <link rel="stylesheet" href="static/lobby.css">
    </head>


    <body>
        <h1>
            Lobby {{lobbyNum}}
            </br>
            User {{userNum}}
        </h1>
        <!-- TODO: implement this screen -->
        <div id = "waiting" class="hide">
            This will contain the waiting message / circle while we wait for the opposing player
        </div>
        <!-- TODO: implement this screen -->
        <div id = "placement">
            <h2>Prepare for war! Place your freighters!</h2>
            <div id="placementElems">
                <div id="placementTop">
                    <div id="sourceAndReady">
                        <div id="shipSource"></div>
                        <div id="readyButtonDiv"><button type="button" disabled>Ready</button></div>
                    </div>
                    <div class="space"></div>
                    <div id="placementBoard"></div>
                </div>
            </div>
        </div>

        <div id="gameboard" class="hide">
            <h2> Your Board</h2>
            <h2> Opponent's Board</h2>

            <div id = "selfMap"></div>
            <!-- probably we pre-populate this with the location of your ships, then just overlay -->

            <div id = "opponentMap"></div>
        </div>
    </body>
</html>