<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>    <!-- Load the socketIO installation to use in our JS -->
        <script defer src="static/lobby.js"></script>
        <script defer src="static/placement.js"></script>


        <link rel="stylesheet" href="static/default.css">
        <link rel="stylesheet" href="static/lobby.css">
        <link rel="shortcut icon" href="static/assets/favicon.ico">
    </head>


    <body>
        <header>
            <h1>
                Lobby {{lobbyName}} - User 
            </h1>
        </header>

        <section id="status">
            Waiting for opponent to join lobby...
        </section>

        <section div id = "placement" class="hide">
            <h2>Prepare for war! Place your freighters!</h2>
            <div id="placementElems">
                <div id="placementTop">
                    <div id="sourceAndReady">
                        <div id="shipSource"></div>
                        <div id="readyButtonDiv"><button type="button" disabled>Ready</button></div>
                    </div>
                    <div class="space"></div>
                    <div id="placementBoard"></div>
                </div>
            </div>
        </section>

        <section id="gameboard" class="hide">
            <h2> Your Board</h2>
            <h2> Opponent's Board</h2>

            <div id = "selfMap"></div>

            <div id = "opponentMap"></div>
        </section>
    </body>
</html>