<!DOCTYPE html>
<head>
    <title>Instructions</title>
    <!-- Index's CSS might be fine to use here? And I'm not convinced the rules page needs JS -->
    <link rel="stylesheet" href="static/default.css">
    <link rel="shortcut icon" href="static/assets/favicon.ico">
</head>
<body>
    <header>
        <a class="navLink" href="stats">Stats</a>
        <h1> How to Play </h1>
        <a class="navLink" href="/">Homepage</a>
    </header>
    <p>
        You have 5 ships. They are precious. Your opponent also has 5 ships, which are evil
        and must be destroyed. They, however, will seek to destroy <i>your</i> precious 5 ships!
        End them.
    </p>
    <h2>Setup</h2>
    <p>
        Before the game starts, you'll have to place your ships onto the board. Click a ship on the left
        to pick it up, and then click the squares you want to place it onto on the board on the right.
        Once the game starts, players will take turns. Once it's your turn, click a tile on the rightmost
        board to attack it! That will be your turn. You can see what your opponent has attacked via the
        board on the left.
    </p>
    <h2>Gameplay</h2>
    <p>
        Sure hope it does :DD:
    </p>
    <a href="/">Back to the homepage</a>
</body>