<!DOCTYPE html>
<head>
    <title>Stats!</title>
    <link rel="stylesheet" href="static/default.css">
    <link rel="stylesheet" href="static/stats.css">
    <link rel="shortcut icon" href="static/assets/favicon.ico">

    <!-- include our charting library. used in stats.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <a class="navLink" href="/">Homepage</a>
        <h1> Lifetime Website Stats </h1>
        <a class="navLink" href="rules">Instructions</a>
    </header>
    <main>
        <section>
            <canvas id="games"></canvas>
        </section>

        <section>
            <canvas id="guesses"></canvas>
        </section>
    </main>
</body>

<script src="static/stats.js" defer></script>