<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>    <!-- Load the socketIO installation to use in our JS -->
        <link rel="stylesheet" href="static/default.css">
        <link rel="stylesheet" href="static/index.css">
        <link rel="shortcut icon" href="static/assets/favicon.ico">
    </head>

    <meta id="lobbyNum" name="numLobbies" content={{numLobbies}}>
    <body>
        <header>
            <a class="navLink" href="rules">Instructions</a>
            <h1> Freighter Fighter </h1>
        </header>
    
        <div id="lobbies"></div>
    </body>
    <script src="static/index.js" defer></script>
</html>